<section id="facilities" class="feedback-section">
          <h2 class="section-title">Facilities</h2>
          
          <!-- Characterization Section -->
          <section id="characterization" class="facility-section">
            <h3 class="facility-subtitle">
              <i class="fas fa-check-circle"></i> Characterization
            </h3>
            <div class="container">            
              <div class="row">
                <!-- UV-Visible Spectrophotometer -->
                <div class="col-md-4 col-sm-6 mb-4">
                  <div class="equipment-card">
                    <div class="equipment-img-container">
                      <img src="images/UV-VisibleSpectrophotometer.png" alt="UV-Visible Spectrophotometer" class="img-fluid equipment-img">
                    </div>
                    <div class="equipment-info">
                      <h3>UV-Visible Spectrophotometer</h3>
                    </div>
                  </div>
                </div>
                <!-- Electrochemical workstation -->
                <div class="col-md-4 col-sm-6 mb-4">
                  <div class="equipment-card">
                    <div class="equipment-img-container">
                      <img src="images\ElectrochemicalWorkstation.jpg" alt="Electrochemical workstation" class="img-fluid equipment-img">
                    </div>
                    <div class="equipment-info">
                      <h3>Electrochemical workstation</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section>