<div class="row">
    <div class="col-12 mb-4">
        <h2 class="section-title">Services</h2>
    </div>
    <div class="col-12">
        <section id="charges" class="service-section">
            <h3 class="service-subtitle">Electrochemical Studies</h3>
            
            <div class="service-list-container">
                <ul class="service-list">
                    <li><span>Cyclic Voltammetry (CV)</span></li>
                    <li><span>Linear Sweep Voltammetry</span></li>
                    <li><span>Open Circuit Potential</span></li>
                    <li><span>Differential Pulse Voltammetry (DPV)</span></li>
                    <li><span>Chronoamperometry</span></li>
                    <li><span>Tafel Slope</span></li>
                    <li><span>Electrochemical Impedance Spectroscopy (EIS)</span></li>
                    <li><span>Galvanostatic Charge-Discharge (GCD)</span></li>
                    <li><span>Coin Cell Fabrication</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>