<div class="row">
    <div class="col-12 mb-4">
        <h2 class="section-title">Services</h2>
    </div>
    <div class="col-12">
        <section id="charges" class="service-section">
            <h3 class="service-subtitle">Energy Conversion Application</h3>
            
            <div class="service-list-container">
                <ul class="service-list">
                    <li><span>Current - Voltage Characteristics (I-V)</span></li>
                    <li><span>Incident Photon-Current Efficiency (IPCE)</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>