<section id="services" class="feedback-section">
    <h2 class="section-title">Services</h2>
    <section id="hands-on-training" class="service-section">
        <h3 class="service-subtitle">Short-Term Skill Accelerator Workshops</h3>
        <div class="service-list-container">
            <ul class="service-list">
                <li><span>Research Ethics and Lab safety Procedures</span></li>
                <li><span>Literature Survey and Review Article Writing Procedure</span></li>
                <li><span>Electrochemical Analysis</span></li>
                <li><span>Interpretation of XRD, UV, PL, FESEM, HRTEM, XPS and BET.</span></li>
                <li><span>Nanomaterial Synthesis Techniques</span></li>
            </ul>
        </div>
    </section>
</section>