<div id="mainCarousel" class="carousel slide flex-grow-1" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner h-100">
              <div class="carousel-item active h-100">
                <img src="/images/carousel1-lg.jpg">
              </div>
              <div class="carousel-item h-100">
                <img src="/images/carousel2-lg.jpg">
              </div>
              <div class="carousel-item h-100">
                <img src="/images/carousel3-lg.jpg">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
<div class="row mt-4">
    <div class="col-12 mb-4">
      <div class="h-100">
          <h2 class="section-title">Salient Features of SparkVy</h2>
          <ul class="checkmark-list">
            <li><i class="fas fa-check-circle"></i>Each facility is operated by well-experienced researcher, often at the site of the manufacturer.</li>
            <li><i class="fas fa-check-circle"></i>Our research experts will help users in the analysis and interpretation of data as may be needed.</li>
            <li><i class="fas fa-check-circle"></i>All of the instruments are maintained by way of Annual Maintenance Contracts (AMC).</li>
            <li><i class="fas fa-check-circle"></i>Calibration is carried out regularly, often as part of the AMCs.</li>
          </ul>
      </div>
    </div>
  </div>

  <p class="note-section mt-4 mb-4">
  <strong style="color:#D9534F;">Note:</strong> Since the facilities of SparkVy are tuned to applications in materials science, we are not able to take up work on biological samples at the present time (till September 2025).
</p>