<section id="services" class="feedback-section">
                <h2 class="section-title">Services</h2>
                  <section id="internship-opportunities" class="service-section">
                    <h3 class="service-subtitle">Internship Opportunities</h3>
                    <div class="opportunity-container">
                      <ul class="opportunity-list">
                        <li class="opportunity-item">
                          <i class="fas fa-user-graduate opportunity-icon"></i>
                          <span class="opportunity-text">B.Sc./B.E./B.Tech</span>
                        </li>
                        <li class="opportunity-item">
                          <i class="fas fa-user-graduate opportunity-icon"></i>
                          <span class="opportunity-text">M.Sc./M.E./M.Tech</span>
                        </li>
                        <li class="opportunity-item">
                          <i class="fas fa-user-graduate opportunity-icon"></i>
                          <span class="opportunity-text">Ph.D. Scholars (Full Time)</span>
                        </li>
                        <li class="opportunity-item">
                          <i class="fas fa-user-graduate opportunity-icon"></i>
                          <span class="opportunity-text">Ph.D. Scholars (Part Time)</span>
                        </li>
                      </ul>
                    </div>
                  </section>
              </section>