<div class="row">
    <div class="col-12 mb-4">
        <h2 class="section-title">Services</h2>
    </div>
    <div class="col-12">
        <section id="charges" class="service-section">
            <h3 class="service-subtitle">Optical Studies</h3>
            <div class="service-list-container">
                <ul class="service-list">
                    <li><span>UV-Visible Spectrophotoscopy</span></li>
                    <li><span>Photoluminescence Spectrophotoscopy</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>