<header class="bg-white py-3">
    <div class="container header-full-width">
        <div class="header-main-row d-flex justify-content-between align-items-center w-100">
            <div class="d-flex align-items-center">
                <button class="accordion-button collapsed d-md-none p-2 bg-transparent border-0 ms-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#quickLinksCollapse" aria-expanded="false"
                    aria-controls="quickLinksCollapse">
                    <i class="fas fa-chevron-down"></i>
                </button>
                <img src="SparkvyLogo.jpeg" alt="SparkVy Logo" class="header-logo" />
            </div>
            <h1 class="d-block d-md-none header-mobile-h1">SparkVy</h1>
            <div class="header-text d-none d-md-block">
                <h1 class="d-none d-md-block">SparkVy Advanced Research & Innovations</h1>
                <p class="d-none d-md-block">A Hub of Interdisciplinary Science</p>
            </div>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>