<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container justify-content-between">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100">
                <li class="nav-item"><a class="nav-link fw-bold" data-route="/" href="/">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-bold" href="#" id="facilitiesDropdown" role="button"
                        data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        Facilities
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="facilitiesDropdown">
                        <li><a class="dropdown-item" data-route="/Synthesis.html" href="/Synthesis.html">Synthesis</a></li>
                        <li><a class="dropdown-item" data-route="/Characterization.html" href="/Characterization.html">Characterization</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-bold" href="#" id="servicesDropdown" role="button"
                        data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                        <li><a class="dropdown-item" data-route="/electrochem_studies.html" href="/electrochem_studies.html">Electrochemical Studies</a></li>
                        <li><a class="dropdown-item" data-route="/nanomaterial_synthesis.html" href="/nanomaterial_synthesis.html">Nanomaterial Synthesis</a></li>
                        <li><a class="dropdown-item" data-route="/energy_conversion_application.html" href="/energy_conversion_application.html">Energy Conversion
                                Application</a></li>
                        <li><a class="dropdown-item" data-route="/optical_studies.html" href="/optical_studies.html">Optical Studies</a></li>
                        <li><a class="dropdown-item" data-route="/morphological_studies.html" href="/morphological_studies.html">Morphological Studies</a></li>
                        <li><a class="dropdown-item" data-route="/structural_studies.html" href="/structural_studies.html">Structural Studies</a></li>
                        <li><a class="dropdown-item" data-route="/photocatalytic_studies.html" href="/photocatalytic_studies.html">Photocatalytic Studies</a></li>
                        <li><a class="dropdown-item" data-route="/InternshipOpportunities.html" href="/InternshipOpportunities.html">Internship Opportunities</a>
                        </li>
                        <li><a class="dropdown-item" data-route="/HandsOnTraining.html" href="/HandsOnTraining.html">Hands-on Training</a></li>
                        <li><a class="dropdown-item" data-route="/Charges.html" href="/Charges.html">Charges</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link fw-bold" data-route="/feedback.html" href="/feedback.html">Feedback form</a></li>
                <li class="nav-item"><a class="nav-link fw-bold" data-route="/career.html" href="/career.html">To Walk with us</a></li>
                <li class="nav-item"><a class="nav-link fw-bold" data-route="/contact.html" href="/contact.html">Contact us</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="col-12 d-md-none">
    <div class="accordion mb-3">
        <div class="accordion-item">
            <div id="quickLinksCollapse" class="accordion-collapse collapse" data-bs-parent=".accordion">
                <div class="accordion-body">
                    <section id="news-mobile" class="mb-4" data-aos="fade-up">
                        <h2 class="section-title">Latest News</h2>
                        <ul class="list-group">
                            <li class="list-group-item">
                                🎉 SparkVy wins grant for bio-imaging innovation - March 2025
                            </li>
                            <li class="list-group-item">
                                🧪 Partnership with local universities to launch internship
                                programs - February 2025
                            </li>
                            <li class="list-group-item">
                                🔬 Completed installation of new electrochemical analysis lab -
                                January 2025
                            </li>
                        </ul>
                    </section>
                    <div class="d-grid gap-2 mb-3">
                        <button class="btn btn-primary" type="button" data-route="/online-registration.html">
                            Online Registration For Users
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>