<div class="d-flex flex-column h-100 mt-4 mb-4">
  <div class="ratio ratio-4x3 mb-2">
    <img src="images/sideImage1.jpg" alt="Research image" class="img-fluid rounded" />
  </div>
  <div class="ratio ratio-4x3 mb-2">
    <img src="images/sideImage2.png" alt="Research image" class="img-fluid rounded" />
  </div>
</div>
<!-- <h2 class="section-title">Latest News</h2>
<ul class="list-group">
  <li class="list-group-item">🎉 SparkVy wins grant for bio-imaging innovation - March 2025</li>
  <li class="list-group-item">🧪 Partnership with local universities to launch internship programs - February 2025</li>
  <li class="list-group-item">🔬 Completed installation of new electrochemical analysis lab - January 2025</li>
</ul> -->
<div class="d-grid gap-2 mb-3">
  <button class="btn btn-primary mt-4" type="button" data-route="/registration.html" href="/registration.html">Online Registration For Users</button>
</div>